<div class="center-block w-xxl w-auto-xs" style="padding-bottom: 24px">
    <div class="navbar">
        <div class="navbar-brand m-t-lg text-center">
          <img src="app/content/images/logo.jpg" class="img-responsive" alt="">
        </div>
    </div>
</div>
        <div class="socialLoginContainer">
          <div class="socialLoginRow">
              <div ng-click="authenticate('facebook')" class="sociaLoginButtons facebookLogin">
                <i class="fa fa-facebook"></i>
              </div>
                  <div ng-click="authenticate('twitter')" class="sociaLoginButtons twitterLogin">
                    <i class="fa fa-twitter"></i>
                  </div>
          </div>
          <div class="socialLoginHeader">
            Sign in with
          </div>
            <div class="socialLoginRow">
                    <div ng-click="authenticate('instagram')" class="sociaLoginButtons instagramLogin">
                      <i class="fa fa-instagram"></i>
                    </div>
                        <div ng-click="authenticate('foursquare')" class="sociaLoginButtons foursquareLogin">
                          <i class="fa fa-foursquare"></i>
                        </div>
                </div>
        </div>
  <!--      <button type="button" class="btn btn-lg btn-addon" style="opacity: .7; border-radius: 1.5em; background-color: #00aced; color: #fff; border-color: #00aced;"><i style="border-top-left-radius: 1.5em; border-bottom-left-radius: 1.5em; background-color: #0084b4; border-color: #0084b4;" class="fa fa-twitter"></i>Sign in with Twitter</button> -->
</div>
